CF_USE = true # Do you want to use ZTNA or will you pass the endpoint in tfvars.
CF_SRV_ID = "<service_token_id>.access"
CF_SRV_SECRET = "<service_token_secret>"
CF_REMOTE_HOST = "<your_external_cf_endpoint>"
CF_LOCAL_PORT = "1080"